[Unit]
Description=StringlyTyped Store
After=network.target

StartLimitIntervalSec=60
StartLimitBurst=3

[Service]
Type=simple

User=francip
Group=francip

WorkingDirectory=/home/francip/src/stringlytyped-store

Environment=PATH=/home/francip/.nvm/versions/node/v23.10.0/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin
Environment=NODE_ENV=production
Environment=DATA_PATH=/home/francip/data/kortexa-ai

ExecStart=/home/francip/src/stringlytyped-store/run.sh

Restart=always
RestartSec=10

TimeoutStopSec=20

ProtectSystem=full
ProtectHome=read-only
ReadWritePaths=/home/francip/src/stringlytyped-store /home/francip/.cache /home/francip/.config /home/francip/data/kortexa-ai
NoNewPrivileges=true
PrivateTmp=true

[Install]
WantedBy=multi-user.target
